*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'OakBold';
    src: url('./font/oak-bold.ttf');
  }

  @font-face {
    font-family: 'OakLight';
    src: url('./font/oak-light.ttf');
  }

  @font-face {
    font-family: 'Plantin';
    src: url('./font/plantin-light.ttf');
  }

body{
   overflow-x: clip;
    background-color: #181A1B;}
/* nav section for tab & mobile */
.mobMenu{
 background-color: #181A1B;
 /* padding: 15px 0 0 20px; */
 height: 60px;
}

.toggle {
display: inline-block;
position: absolute;
top: 15px;
left: 20px;
z-index: 20;
cursor: pointer;
user-select: none;
}

.bar1, .bar2, .bar3 {
width: 30px;
height: 3px;
background-color: rgb(152, 180, 177);
margin: 6px 0;
transition: 0.4s;
}

.change .bar1 {
transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
transform: translate(0, -9px) rotate(45deg);
}

.Menu{
 background-color: rgb(248, 248, 248);
 display: flex;
 height: 100%;
 width: 0%;
 position: fixed;
 z-index: 16;
 top: 0;
 right: 0;
 overflow-x: hidden;
 transition: 0.5s;
}
.menu{
 position: relative;
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;
}
.menu a{
 font-family: 'OakBold';   
 text-decoration: none;
 color: black;
 font-size: 14px;
}

.menu a:hover:not(.active-col){color: #87C6BD;transition: .1s;}

/* overseer section */
.seer{
    background-color: #181A1B;
    padding: 300px 0 30px;
}

.seer h1{
    font-family: 'OakLight';
    font-weight: bolder;
}

.seer p{
    font-family: 'OakBold', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

.svg-text P{
    font-family: 'OakBold', sans-serif;
    font-size: 14px;
}

.hp-text h3{
    font-family: 'Plantin', serif;
    font-size: 24px;
}

.hp-text p{
    font-family: 'Plantin', serif;
    font-size: 16px;
}

.fixing3 h4{
    font-family: 'OakBold', sans-serif;
    font-size: 20px;
}

.fixing3 p{
    font-family: 'OakBold', sans-serif;
    font-size: 12px;
    color: #87C6BD;
}

.tackle-text{
    font-family: 'OakBold', sans-serif;
    font-size: 20px;
}

/* button hover design */

.buttonHover {
    background-color: #9874FF;
}
.buttonHover *{
    background-color: #9874FF;
}
.buttonHover{
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 18px;
    position: relative;
}
.buttonHover:hover{
    animation: buttoncontainer 1s linear ;
}
.buttonHover .text-btn{
    position: absolute;
    top: 7px;
    font-family: 'OakBold', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    color: whitesmoke;
    font-size: 16px;
}
.buttonHover .topbubble{
    width: 30px;
    height: 25px;
    border-radius: 50%;

    position: absolute;
    transform: rotate(40deg);
    opacity: 1;

    z-index: -2; 

}
.buttonHover:hover .topbubble{
    animation:hoveranim 1s linear ;
}
.topbubbledot1{
    width: 4px;
    height: 4px;
    border-radius: 50%;

    position: absolute;

    z-index: -3;
}
.buttonHover:hover .topbubbledot1{
    animation: topbubbledot1ANIM 1s linear ;
}
.topbubbledot2{
    width: 4px;
    height: 4px;
    border-radius: 50%;

    position: absolute;
    top: -0%;
    left: -0%;
    z-index: -4;

}
.buttonHover:hover .topbubbledot2{
    animation:  topbubbledot2Anim 1s linear;
}



@keyframes hoveranim{
    0%{ 
        width: 30px;
        height: 25px;
        border-radius: 50%;
  
        position: absolute;
        transform: rotate(40deg);
        opacity: 1;
        top: 5%;
        left: 0%;
        z-index: -2; 
          
    }
    80%{
        width: 30px;
        height: 25px;
    
        position: absolute;
       opacity: 1;
        top: -20%;
        left: -10%;
        
    }
    84%{
        width: 30px;
        height: 25px;

        position: absolute;
       opacity: 1;
        top: -40%;
        left: -20%;
        
    }
    88%{
        width: 20px;
        height: 25px;
   
        position: absolute;
       opacity: 1;
       top: -40%;
       left: -20%;
        
    }
    100%{
        width: 8px;
        height: 10px;

        position: absolute;
       opacity: .2;
       top: -40%;
        left: -20%;
    }
}

/*  container scal */
@keyframes buttoncontainer{
    0%{
        transform: scaleY(1);
    }
    80%{
        transform: scaleY(1.15);
    }
    84%{
        transform: scaleY(0.94);
    }
    88%{
        transform: scaleY(1.05);
    }

    100%{
        transform: scaleY(1);
    }
}


@keyframes topbubbledot1ANIM{
    0%{
        top: 10%;
        left: 5%;
     }
     80%{
        top: -0%;
        left: -0%;
     }
     84%{
        top: -20%;
        left: -0%;}
     88%{
        top: -20%;
        left: -4%;}
    
     100%{
        top: -40%;
        left: -5%;
     }
}

@keyframes topbubbledot2Anim{
    0%{
        top: 10%;
        left: 5%;
     }
     80%{
         top: -0%;
         left: -0%;
     }
     84%{
         top: 20%;
         left: -0%;}
     88%{
         top: 20%;
         left: -12%;}
    
     100%{
         top: 30%;
         left: -20%;
     }
    }




.buttonHover .topbubble1{
    width: 30px;
    height: 25px;
    border-radius: 50%;

    position: absolute;
    transform: rotate(40deg);
    opacity: 1;
    z-index: -2; 
}
.buttonHover:hover .topbubble1{
    animation:hoveranim1 1s linear;
}
.topbubbledot11{
    width: 4px;
    height: 4px;
    border-radius: 50%;

    position: absolute;
    bottom: -0%;
    right: -0%;
    z-index: -3;

}
.buttonHover:hover .topbubbledot11{
    animation:topbubbledot1ANIM1 1s linear ;
}
.topbubbledot21{
    width: 4px;
    height: 4px;
    border-radius: 50%;

    position: absolute;
    bottom: -0%;
    right: -0%;
    z-index: -4;
    
}
.buttonHover:hover .topbubbledot21{
    animation:  topbubbledot2Anim1 1s linear ;
}


@keyframes hoveranim1{
    0%{ 
        width: 30px;
        height: 25px;
        border-radius: 50%;

        position: absolute;
        transform: rotate(40deg);
        opacity: 1;
        bottom: 5%;
        right: 0%;
        z-index: -2; 
          
    }
    80%{
        width: 30px;
        height: 25px;
  
        position: absolute;
       opacity: 1;
        bottom: -20%;
        right: -10%;
        
    }
    84%{
        width: 30px;
        height: 25px;
   
        position: absolute;
       opacity: 1;
        bottom: -40%;
        right: -20%;
        
    }
    88%{
        width: 20px;
        height: 25px;
    
        position: absolute;
       opacity: 1;
       bottom: -40%;
       right: -20%;
        
    }
    100%{
        width: 8px;
        height: 10px;
  
        position: absolute;
       opacity: .2;
       bottom: -40%;
        right: -20%;
 
    }
}



@keyframes topbubbledot1ANIM1{
0%{
    bottom: 10%;
    right: 5%;
 }
 80%{
    bottom: -0%;
    right: -0%;
 }
 84%{
    bottom: -20%;
    right: -0%;}
 88%{
    bottom: -20%;
    right: -4%;}

 100%{
    bottom: -40%;
    right: -5%;
 }
}

@keyframes topbubbledot2Anim1{
    0%{
        bottom: 10%;
        right: 5%;
     }
     80%{
        bottom: -0%;
         right: -0%;
     }
     84%{
        bottom: 20%;
         right: -0%;}
     88%{
        bottom: 20%;
         right: -12%;}
    
     100%{
        bottom: 30%;
         right: -20%;
     }
    }

    .fixing{margin-top: 130px;}


/* work section */
.section-bg {
    position: relative;
    padding: 30px 0 0px;
    color: #fff;
  }
  
  .section-bg:before {
    content: "";
    background: #2a2929;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
  }

  .about .container {
    position: relative;
    z-index: 10;
  }

  .pointer-select{cursor: pointer;}
  .pointer-select:hover h4{transform: translateY(5px);transition: .1s;}
  .pointer-select:hover p{visibility: hidden;}
  .fixing2{margin-top: 130px;}
  .fixing3{padding: 80px 0 150px;}

  /* workflow section */
  .arrow{
    position: relative;
    display: flex;
    justify-content: center;
  }

  .arrow img{
    position: absolute;
    top: 30px;
  }


  

  @media (min-width: 768px) {
    /* workflow section  */
    .svgImg2 {
      width: 700px;
      height: auto;
    }
    .svgImg2 img{
        width: 100%;
        height: 100%;
    }
  }

  @media (min-width: 792px) {
    /* workflow section  */
    .svgImg2 {
      width: 800px;
      height: auto;
    }
    .svgImg2 img{
        width: 100%;
        height: 100%;
    }
  }

    


@media(min-width:992px){
/* nav section for laptop  */
.main{background-color: #181A1B; position: relative;width: 100%;height: 56px;}
/* .alog{border: 2px solid rgb(152, 180, 177); position: fixed; top: 20px;left: 20px;z-index: 20;width: 20px; height: 20px;cursor: pointer;} */
.humburg {
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 20;
    cursor: pointer;
    user-select: none;
    }
    
    .icon1, .icon2, .icon3 {
    width: 30px;
    height: 3px;
    background-color: rgb(152, 180, 177);
    margin: 6px 0;
    transition: 0.4s;
    }
#nav{ background-color: rgb(248, 248, 248); position: fixed;top: -20px;left: 0;width: 100%;height: 0;overflow-y: hidden;z-index: 16;}
#nav a{color: black;font-family: 'OakBold';font-size: 14px;}
#nav a:hover:not(.active-col){color: #87C6BD;transition: .1s;}
.parent:hover #nav{transition: .5s;height: 56px;top: 0;}
}



/* ---**************************************------- */

/*   Text Animation  */
.textAnimationContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;

}
.textAnimationContainer h2{
    font-family: 'OakLight', sans-serif;
 
    font-size: 50px;
    padding-bottom: 20px;
    letter-spacing: 10px;
    position: absolute;  
    color: rgb(252, 247, 247);
}
.textAnimationContainer h2:nth-child(1){
   color: transparent;
    -webkit-text-stroke: 0.1px rgb(247, 242, 238);
}
.textAnimationContainer h2:nth-child(2){
    font-weight: bolder;
    transition: clip-path 1s ;
    clip-path: polygon(59% 62%, 98% 95%, 62% 59%, 99% 49%, 59% 57%, 97% 1%, 54% 56%, 1% 23%, 54% 61%, 2% 98%);
}

.svgAnimationContainer{
    transition: clip-path 1s ;
    clip-path: polygon(59% 62%, 98% 95%, 62% 59%, 99% 49%, 59% 57%, 97% 1%, 54% 56%, 1% 23%, 54% 61%, 2% 98%);
}
/* 
/*  End Text Animation */
/* .topText h1{
    position: absolute;
    top: 0;
    left: 0;
} */
.headeranimation{
    font-size: 80px;
    animation: anim3 1s linear;
}

@keyframes anim3{
    0%{
        clip-path: polygon(59% 62%, 98% 95%, 62% 59%, 99% 49%, 59% 57%, 97% 1%, 54% 56%, 1% 23%, 54% 61%, 2% 98%);  
    }
    100%{
        clip-path: polygon(96% 100%, 98% 95%, 100% 82%, 99% 49%, 100% 44%, 97% 1%, 0 4%, 1% 23%, 0 85%, 0 99%);
    }
}


@media(max-width:768px){
    .headeranimation{font-size: 50px;}
    .textAnimationContainer h2{font-size: 40px;}
    .fixing2{margin-top: 0px;}
    .fixing3{padding: 80px 0 50px;}
}

@media(max-width:500px){
    .seer{
        padding: 100px 0 30px;
    }
    .fixing{margin-top: 10px;}
    .fixing3{padding: 80px 0 30px;}
}

@media(max-width:425px){
    .headeranimation{font-size: 40px;}
    .textAnimationContainer h2{font-size: 34px;letter-spacing: 5px;}
    .verImg{width: 100%;}
}